.selectorbox {
    top: 50%;
    position: fixed;
    width: 200px;
    height: 600px;
    background-color: #a81b29;
    transform: translateY(-300px);

}

.btn.btn-primary.start_point {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 100px;
    height: 50px;
}

.btn.btn-primary.end_point {
    position: absolute;
    top: 110px;
    left: 50px;
    width: 100px;
    height: 50px;
}

.btn.btn-primary.draw_wall {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 100px;
    height: 50px;
}

.btn.btn-primary.clear{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 100px;
    height: 50px;
}



.dropdown.algo {
    position: absolute;
    left: 25px;
    top: 320px;
}

.btn.btn-success.start {
    position: absolute;
    left: 50px;
    top: 380px;
    min-width: 100px;
}
#dropdownMenuButton{
    min-width: 150px;
    top: 250px;

}

#c {
    position: relative;
    left: 200px;
    z-index: -2;
}