


#dropdownMenuButton {
    min-width: 150px;
    top: 250px;

}

#c {
    position: relative;
    left: 20px;
    z-index: -2;
}

.logo {
    max-width: 80px;
    margin-right: 10px;
    max-height: auto;
}

.start {
    transform: translateY(-8px);
    float: left;
    max-width: 40px;
    max-height: auto;
}

.nav-link.start {
    font-size: 20px;
    margin-left: 60px;
}

.nav-link.dropdown-toggle.alog {
    transform: translateY(-3px);
    font-size: 18px;
    margin-left: 184px;
    color: black;
}


.dropdown-menu.alog {
    margin-left: 184px;
}

.start-div {
    display: inline;
}

canvas {  
    width: 512px;
    height: 512px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
.nav-item.active.start {
    transform: translateY(5px);
    white-space: nowrap;
    font-size: 18px;
    margin-left: 90px;
    cursor: pointer;
}

.nav-item.active.end {
    transform: translateY(5px);
    white-space: nowrap;
    font-size: 18px;
    margin-left: 98px;
    cursor: pointer;
}

.end {
    transform: translateY(5px);
    margin-right: 10px;
    float: left;
    max-width: 20px;
    height: auto;
    cursor: pointer;
}

.brick {
    margin-right: 10px;
    transform: translateY(4px);
    float: left;
    max-width: 20px;
    max-height: auto;
    cursor: pointer;
}

.nav-item.active.wall {
    transform: translateY(5px);
    white-space: nowrap;
    font-size: 18px;
    margin-left: 198px;
    cursor: pointer;
}

.nav-item.active.startalgo {
    transform: translateY(5px);
    white-space: nowrap;
    font-size: 18px;
    margin-left: 150px;
    cursor: pointer;
}
.click{
    display: block;
    cursor: pointer;
}